<% layout('/layouts/boilerplate') %> 
    <h1>Register Your Campground</h1>
    <form action="/campgrounds" method="post">
        <div>
            <label for="title">TITLE:</label>
            <input type="text" name="Title" id="title" placeholder="title">
        </div>
        <div>
            <label for="location">LOCATION:</label>
            <input type="text" name="location" id="location" placeholder="location">
        </div>
        <button>submit</button>
    </form>
