<% layout('/layouts/boilerplate') %> 
    <h1>This all are our Campgrounds</h1>
    <ul>
        <% for(let camp of allcamprounds){ %>
            <li><%= camp.title %> </li> 
            <a href="/campgrounds/<%= camp._id %> ">Show</a> 
        <% } %>  
    </ul>
    <button><a href="/campgrounds/create"> Create New Campground</a></button>
