<% layout('/layouts/boilerplate') %> 
    <h1>Title: <%= selectedCamp.title %> </h1>
    <h2>location: <%= selectedCamp.location %> </h2>
    <button><a href="/campgrounds">All Camps</a></button>
    <button><a href="/campgrounds/<%=selectedCamp._id%>/edit">Update</a></button>
    <form action="/campgrounds/<%=selectedCamp._id%>?_method=DELETE" method = "post">
    <button>Delete</button>
    </form>
