<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1>Title: <%= selectedCamp.title %> </h1>
    <h2>location: <%= selectedCamp.location %> </h2>
    <button><a href="/campgrounds">All Camps</a></button>
    <button><a href="/campgrounds/<%=selectedCamp._id%>/edit">Update</a></button>
    <form action="/campgrounds/<%=selectedCamp._id%>?_method=DELETE" method = "post">
    <button>Delete</button>
    </form>
</body>
</html>